---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Information about me"
	pubDate={new Date('July 09 2025')}
	heroImage={AboutHeroImage}
>
	<p>
			Nothing yet...
	</p>
</Layout>
