---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<style>
    h1, p, blockquote {
        color: var(--text-color-light);
    }
</style>

<Layout
	title="About Me"
	description="Information about me"
	pubDate={new Date('July 09 2025')}
	heroImage={AboutHeroImage}
>
    <blockquote>I like building things from tools - that helps people.</blockquote>
    <br>
    <p>
        I'm <strong>Nilay</strong> a developer who started programming in early 2024. I started off programming with <a href="https://gdevelop.io">GDevelop</a> - A no-code game engine which allows users to write code using nodes. Over time, I learned to work with GDevelop, and use JavaScript to extend the capabilites of GDevelop. My best project in GDevelop was recreating chess with a 1800+ <a href="https://en.wikipedia.org/wiki/Elo_rating_system">ELO</a> rated Artifical Inteligence. But unfortunately, I couldn't get to continue with this project because I lost the project files. If you want to test the final version that I released before I lost the files, then you can test it here on <a href="https://gd.games/byson94/gd-chess">gd.games</a>.
    </p>
    <p>
        It was later in my journey that GDevelop's limitations really started to hit me. It is what caused me to move more deeper into technology. I chose to move to web development since I had already known some JavaScript from scripting in GDevelop. I did stay with web development for quite some time, but I later realized that I am not that great in UI/UX designing which caused me to move even deeper down the iceberg.
    </p>
    <p>
        Currently, I am contributig to <a href="https://github.com/axos-project">AxOS</a> and writing Linux tools, which others might find helpful.
    </p>
</Layout>
