---
import Layout from '../layouts/Layout.astro'
import CenteredLayout from '../layouts/CenteredLayout.astro'
import NavBar from '../components/NavBar.astro'
import Box from '../components/Box.astro'
import { Content } from '../content/about.md'

import { Icon } from 'astro-icon/components'
---

<Layout>
    <CenteredLayout>
        <NavBar />
        <Box>
            <div>
                <h1 class="text-2xl pb-4 text-[var(--text-highlight)] bold">Byson94</h1>
            </div>
            <div class="flex flex-row items-start">
                <div class="flex flex-col gap-4" id="content-box">
                    <Content />
                </div>
                <div class="flex flex-col items-center gap-4 pb-10">
                    <div class="w-64 h-64 rounded-xl overflow-hidden flex-shrink-0">
                        <img src="https://avatars.githubusercontent.com/u/171326211?v=4" class="w-full h-full object-cover" />
                    </div>
                    <div class="flex flex-row gap-6 text-white social-icons">
                        <a href="https://x.com/byson94" class="hover:text-primary transition-colors" >
                            <Icon name="simple-icons:x" size={24} />
                        </a>
                        <a href="https://www.instagram.com/bysoon94/" class="hover:text-primary transition-colors">
                            <Icon name="simple-icons:instagram" size={24} />
                        </a>
                        <a href="https://www.reddit.com/user/Byson94_dev/" class="hover:text-primary transition-colors">
                            <Icon name="simple-icons:reddit" size={24} />
                        </a>
                        <a href="https://github.com/Byson94" class="hover:text-primary transition-colors">
                            <Icon name="simple-icons:github" size={24} />
                        </a>
                    </div>
                </div>
            </div>
        </Box>
    </CenteredLayout>
</Layout>

<style is:global>
  [data-theme="dark"] .social-icons {
    color: white;
  }

  [data-theme="light"] .social-icons {
    color: black;
  }

  #content-box a {
    color: var(--link);
    text-decoration: underline;
  }
</style>
