---
// Main
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

// Content
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Home">
  <div class="tui-frame">
    <Hero />
    <main class="tui-content">
      <section id="about">
        <About />
      </section>
      <section id="skills">
        <Skills />
      </section>
      <section id="projects">
        <Projects />
      </section>
      <Footer />
    </main>
  </div>
</Layout>