---
// Main
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

// Content
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Terminal from "../components/Terminal.astro";
---

<Layout title="Home">
  <div class="tui-frame">
    <Hero />
    <main class="tui-content">
      <section id="about">
        <About />
      </section>
      <section id="skills">
        <Skills />
      </section>
      <section id="projects">
        <Projects />
      </section>
      <Footer>
        <Terminal />
      </Footer>
    </main>
  </div>
</Layout>

<script>
  const toggle = document.getElementById('terminal-toggle');
  const overlay = document.getElementById('terminal-overlay');
  const close = document.getElementById('terminal-overlay-close');

  document.addEventListener('keydown', function(event) {
    if (event.key === "j") {
      window.scrollBy(0, 200);
    }

    if (event.key === "k") {
      window.scrollBy(0, -200);
    }

    if (event.ctrlKey && event.key === "/") {
      overlay!.classList.toggle('open');
      document.body.classList.toggle('overlay-open');
      toggle!.blur();
    }
  });
</script>
