---
import Layout from '../layouts/Layout.astro'
import CenteredLayout from '../layouts/CenteredLayout.astro'
---

<Layout>
    <div class="terminal" id="terminal">

    </div>
</Layout>

<script type="module" is:inline>
    import init, { Psh } from '/psh/pkg/psh.js';

    async function runWasm() {
        try {
            await init();

            const psh = new Psh();
            globalThis.pshell = psh;
        } catch (error) {
            console.error("Error executing WebAssembly:", error);
        }
    }

    await runWasm();

    let term = document.getElementById("terminal");
    term.style.width = "100%";
    term.style.height = "100vh";
    term.style.cursor = "text";

    function createInput() {
        let prefix = document.createElement("p");
        prefix.innerText = "$ ";
        prefix.style.pointerEvents = "none";
        prefix.style.userSelect = "none";
        prefix.style.padding = "2px";
        prefix.style.fontSize = "22px";

        let input = document.createElement("input");
        input.classList.add("current-input");
        input.style.width = "100%";
        input.style.outline = "none";
        input.style.border = "none";
        input.style.fontSize = "16px";

        let container = document.createElement("div");
        let classes = "flex flex-row";

        classes.split(" ").forEach((c) => {
            container.classList.add(c);
        });
        container.appendChild(prefix);
        container.appendChild(input);

        return container;
    }

    function appendResult(result, doc) {
        let result_element = document.createElement("p");
        result_element.innerText = result;

        doc.appendChild(result_element);
    }

    function submitCommand() {
        let input = document.querySelector(".current-input");
        if (!input) return;

        input.classList.remove("current-input");
        input.style.pointerEvents = "none";
        input.readOnly = true;

        let result = pshell.execute(input.value);
        appendResult(result, term);

        if (result === "CLEAR") {
            term.replaceChildren();
        }

        let inputBox = createInput();
        term.appendChild(inputBox);

        let new_input = document.querySelector(".current-input");
        if (new_input) new_input.focus();
    }

    document.addEventListener("click", function () {
        document.querySelector(".current-input")?.focus();
    });

    let inputBox = createInput();
    term.appendChild(inputBox);

    let input = document.querySelector(".current-input");
    input.value = "help";
    submitCommand();

    document.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
            submitCommand();
        } else if (e.ctrlKey && e.code === "KeyC") {
            e.preventDefault();

            let input = document.querySelector(".current-input");
            input.classList.remove("current-input");
            input.style.pointerEvents = "none";
            input.readOnly = true;

            let inputBox = createInput();
            term.appendChild(inputBox);

            let new_input = document.querySelector(".current-input");
            new_input.focus();
        }
    });
</script>
