---
---

<div>
    <p>
        Hi there! I'm Nilay. I am a backend developer and I like working
        on projects that help me in my day to day life.
    </p>
    <br>
    <p>
        Currently, I'm working on <a href="https://ewwii-sh.github.io">ewwii</a>,
        a widget system that aims to provide a lightweight, expressive, and extensive
        experience on rendering custom widgets in custom Linux setups. If I am not working
        on ewwii, then I'll be either working on 
        <a href="https://github.com/byson94/ander">Ander</a> or contributing to 
        <a href="https://axos-project.com">AxOS</a>.
    </p>
    <br>
    <p>
        In my spare time, you can usually find me playing chess, playing video games,
        or binge watching youtube.
    </p>
</div>
