---
import WindowFrame from './WindowFrame.astro';
---

<div id="window" class="window about-win">
    <WindowFrame navItem="about-win" label="about" />

    <div class="content-area">
        <p>
            Hi there! I'm Nilay. I'm a backend developer and I like working
            on projects that solves real problems. I'm passionate
            about Linux, open source software, and low-level systems. And I aspire
            to work on solutions to unique problems in these areas.
        </p>
        <br>
        <p>
            My primary language is Rust. But I am familiar with C and C++ too,
            and love tinkering with them when I have the time. For quick scripts and
            automation, I opt for python.
        </p>
        <br>
        <p>
            Currently, I'm working on <a href="https://ewwii-sh.github.io">ewwii</a>,
            a widget system that aims to provide an extensive yet lightweight
            experience with rendering custom widgets in custom Linux setups. If I am not
            working on ewwii, then I'll be either working on
            <a href="https://github.com/NBCL-Lang/nbcl">Nbcl</a> or contributing to
            <a href="https://axos-project.com">AxOS</a>.
        </p>
        <br>
        <p>
            In my spare time, you can usually find me playing chess, playing video games,
            ricing my Linux setup, or binge watching youtube.
        </p>
    </div>
</div>
