---
---

<div>
    <p>
        Hi there! I'm Nilay. I'm a backend developer and I like working
        on projects that help me in my day to day life. I'm passionate
        about Linux, open source software, and low-level systems. And I aspire
        to work on solutions to problems that are yet to be solved in these areas.
    </p>
    <br>
    <p>
        My primary language is Rust, but in cases where absolute hardware level
        performance or unsafe manuvers are required, I am comfortable with dropping
        down to C. And for quick tests or simple automation scripts,
        I generally use python.
    </p>
    <br>
    <p>
        Currently, I'm working on <a href="https://ewwii-sh.github.io">ewwii</a>,
        a widget system that aims to provide a lightweight, expressive, and extensive
        experience on rendering custom widgets in custom Linux setups. If I am not
        working on ewwii, then I'll be either working on
        <a href="https://github.com/NBCL-Lang/nbcl">Nbcl</a> or contributing to
        <a href="https://axos-project.com">AxOS</a>.
    </p>
    <br>
    <p>
        In my spare time, you can usually find me playing chess, playing video games,
        ricing my Linux setup, or binge watching youtube.
    </p>
</div>
