---
import { Icon } from 'astro-icon/components';
---

<footer class="mt-auto">
    <p>Portfolio designed after Linux terminals</p>
    <button class="terminal-toggle" id="terminal-toggle" aria-label="Open terminal">
        <Icon name="mdi:console" />
    </button>
</footer>

<div class="terminal-overlay" id="terminal-overlay">
    <div class="terminal-overlay-header">
        <span class="terminal-overlay-title">psh</span>
            <button class="terminal-overlay-close" id="terminal-overlay-close">
                <Icon name="mdi:close" />
            </button>
        </div>
    <div class="terminal-overlay-body">
        <slot />
    </div>
</div>

<script>
    const toggle = document.getElementById('terminal-toggle');
    const overlay = document.getElementById('terminal-overlay');
    const close = document.getElementById('terminal-overlay-close');

    toggle!.addEventListener('click', () => {
        overlay!.classList.toggle('open');
        document.body.classList.toggle('overlay-open');
        toggle!.blur();
    });

    close!.addEventListener('click', () => {
        overlay!.classList.remove('open');
        document.body.classList.remove('overlay-open');
    });

    // esc to close
    document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') {
            overlay!.classList.remove('open');
            document.body.classList.remove('overlay-open');
        }
    });
</script>