---
import WindowFrame from './WindowFrame.astro';

const projects = [
  {
    name: "Ewwii",
    description: "A fork of eww rewritten to be more powerful, performant, flexible, and extensible.",
    tags: ["Rust", "Wayland", "Gtk4"],
    href: "https://github.com/Ewwii-sh/ewwii",
  },
  {
    name: "Nbcl",
    description: "A general purpose embedded configuration language with scripting capabilities for Rust ecosystem.",
    tags: ["Rust"],
    href: "https://github.com/NBCL-Lang",
  },
  {
    name: "Theom",
    description: "A lightweight desktop environment based on i3wm for AxOS.",
    tags: ["Shell", "X11"],
    href: "https://github.com/AxOS-Project/Theom",
  },
  {
    name: "Eiipm",
    description: "A simple and minimal package manager for ewwii.",
    tags: ["Rust", "Git"],
    href: "https://github.com/Ewwii-sh/eiipm",
  },
  {
    name: "rhai_trace",
    description: "A rust library made to improve errors that rhai throws.",
    tags: ["Rust"],
    href: "https://github.com/Byson94/rhai_trace",
  },
  {
    name: "rusty-exec",
    description: "A rust program for prototyping with rust quickly, locally, offline.",
    tags: ["Rust"],
    href: "https://github.com/Byson94/rusty-exec",
  },
  {
    name: "soshell",
    description: "A simple C++ based program for opening and calling exposed symbols in shared object files.",
    tags: ["C++"],
    href "https://github.com/Byson94/soshell",
  },
  {
    name: "Xfsrtray",
    description: "A customizable system tray for Linux X11. Its meant to be toggled and is smooth an efficient in that matter compared to other system trays.",
    tags: ["Rust"],
    href: "https://github.com/Byson94/xfsrtray",
  },
  {
    name: "GitClone",
    description: "An experimental rewrite of core git functions in nodejs for understanding the internals of git.",
    tags: ["NodeJS"],
    href: "https://github.com/Byson94/gitclone",
  },
  {
    name: "Biszbo",
    description: "An experimental chatapp written in react with MongoDB for message storing and Supabase for authentication.",
    tags: ["React", "MongoDB", "Supabase"],
    href: "https://github.com/Byson94/Biszbo",
  },
];
---

<div class="window projects-win" id="window" style="width: 700px; height: 400px;">
    <WindowFrame navItem="projects-win" label="projects" />
    <div class="projects-grid content-area">
        {projects.map(project => (
        <a href={project.href} target="_blank" rel="noopener noreferrer" class="project-tile">
            <p class="project-name">{project.name}</p>
            <p class="project-desc">{project.description}</p>
            <div class="project-tags">
                {project.tags.map(tag => (
                <span class="project-tag">{tag}</span>
                ))}
            </div>
        </a>
        ))}
    </div>
</div>
