---
interface Props {
    disableClose: boolean;
    navItem: string;
    label: string;
}

const { disableClose = false, navItem, label } = Astro.props;
---

<div id="window_frame" class="relative">
    <div class="flex items-center gap-1.5 px-3 h-full">
        <button 
            data-target={navItem} 
            class={`close-btn w-3 h-3 p-3 rounded-full bg-[#ff5f57] ${disableClose ? 'opacity-30 pointer-events-none' : ''}`}
        ></button>
        <button class="w-3 h-3 rounded-full bg-[#febc2e] opacity-30"></button>
        <button class="w-3 h-3 rounded-full bg-[#28c840] opacity-30"></button>
    </div>

    <p class="absolute inset-0 flex items-center justify-center pointer-events-none text-sm font-medium">
        {label}
    </p>
</div>

<script>
    const closeButtons = document.querySelectorAll('.close-btn');

    closeButtons.forEach(button => {
        button.addEventListener('click', () => {
            const targetClass = button.getAttribute('data-target');
            if (!targetClass) return;

            const targetSection = document.querySelector(`.${targetClass}`);
            
            if (targetSection) {
                targetSection.classList.remove('active');
            }
        });
    });
</script>

